<%- include header %>
	<form method="post">
		<div>
			用户名:&nbsp;&nbsp;
			<input type="text" name="name" />
		</div>
		<div>
			密&nbsp;&nbsp;&nbsp;码:&nbsp;&nbsp;
			<input type="password" name="password" />
		</div>
		<div>
			确认密码:&nbsp;&nbsp;
			<input type="password" name="password-repeat" />
		</div>
		<div>
			邮&nbsp;&nbsp;&nbsp;&nbsp;箱:&nbsp;&nbsp;
			<input type="text" name="email" />
		</div>
		<input type="submit" value="注  册">
	</form>
<%- include footer%>